<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
      xmlns:f ="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view contentType="text/html">
        <h:head>
			<ui:include src="/WEB-INF/include/header.xhtml" />
        </h:head>
        <h:body>
			<h:form id="form">
				<div style="padding: 12px 0px 32px 20px;">
					<div class="controls">
						<ui:insert name="menubar" />
						<div class="control" style="padding-bottom: 24px; padding-right: 24px; float: right;">
							<p:commandButton id="profile" icon="ui-icon ui-icon-contact" value="Peerapat A"
											 styleClass="btn btn-mini btn-info"
											 style="margin-right: 12px;"
											 action="#{profileManaged.linkToProfile(facesContext.viewRoot.viewId)}"/>

							<p:commandButton id="logout" icon="ui-icon ui-icon-arrowthick-1-e"
											 styleClass="btn btn-mini btn-danger"
											 action="#{signinManaged.logout}"/>
						</div>
					</div>
				</div>

				<div class="container-fluid">
					<div class="row-fluid">
						<div style="padding-top: 12px; padding-bottom: 12px;">
							<div style="padding-bottom: 12px; height: 320px;">
								<ui:insert name="content" />
							</div>
						</div>
					</div>
				</div>

				<p:poll interval="40" listener="#{retainSessionManaged.poll}" />
			</h:form>
        </h:body>
    </f:view>
</html>
