<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<footer>
		<div class="container">
			<div class="row">
				<div class="widget span8">
					<h4>About Bgile BETA</h4>
					<p>Bgile ไม่ใช่ Agile</p>
				</div>
				<div class="widget span3">
					<h4>Contact Us</h4>
					<p><i class="icon-map-marker"></i> Address: Bangkok Thailand</p>
					<p><i class="icon-envelope-alt"></i> Email: <a href="">nuboat@gmail.com</a></p>
				</div>
			</div>
			<div class="footer-border"></div>
			<div class="row">
				<div class="copyright span4">
					<p>Copyright 2013 Bgile - All rights reserved. Template by <a href="http://azmind.com">Azmind</a>.</p>
				</div>
				<div class="social span8">
					<a class="facebook" href=""></a>
					<a class="dribbble" href=""></a>
					<a class="twitter" href=""></a>
					<a class="pinterest" href=""></a>
				</div>
			</div>
		</div>
	</footer>
	<ui:remove>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/js/jquery.flexslider.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/js/jquery.tweet.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/js/jflickrfeed.js"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/js/jquery.ui.map.min.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/js/jquery.quicksand.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/prettyPhoto/js/jquery.prettyPhoto.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/assets/js/scripts.js"></script>
	</ui:remove>
</ui:composition>
