<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<meta charset="utf-8" />
	<title>Bgile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="#{facesContext.externalContext.requestContextPath}/assets/favicon.ico" />

	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/assets/css/font-awesome.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/assets/css/style.css" />

	<h:outputText value="&lt;!--[if lte IE 7]&gt;&lt;script src=&quot;http://html5shim.googlecode.com/svn/trunk/html5.js&quot; /&gt;&lt;![endif]--&gt;"
				  escape="false" />

	<style type="text/css">
		.ui-corner-all {
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			border-radius: 0px;
		}
		.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
			-webkit-border-radius: 0 0px 0px 0;
			-moz-border-radius: 0 0px 0px 0;
			border-radius: 0 0px 0px 0;
			height: 24px;
		}

		.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
			-webkit-border-radius: 0px 0 0 0px;
			-moz-border-radius: 0px 0 0 0px;
			border-radius: 0px 0 0 0px;
			height: 24px;
		}
	</style>
	<ui:remove>
		<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/assets/prettyPhoto/css/prettyPhoto.css" />
		<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/assets/css/flexslider.css" />

		<!-- Favicon and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="#{facesContext.externalContext.requestContextPath}/assets/ico/apple-touch-icon-144-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="#{facesContext.externalContext.requestContextPath}/assets/ico/apple-touch-icon-114-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="#{facesContext.externalContext.requestContextPath}/assets/ico/apple-touch-icon-72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" href="#{facesContext.externalContext.requestContextPath}/assets/ico/apple-touch-icon-57-precomposed.png" />
	</ui:remove>
</ui:composition>
