<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui ="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/WEB-INF/template/app.xhtml" >
		<ui:define name="menubar">
			<div class="controls">
				<div style="float:left;">
					<p:commandButton id="back" icon="ui-icon ui-icon-arrowthick-1-w" value="แผงควบคุม"
									 styleClass="btn btn-mini btn-info" style="margin-right: 12px;"
									 onclick="window.location.href = '/bgile/dashboard';" />
				</div>
				<div style="float:left;">
					<p:commandButton id="refresh" icon="ui-icon-refresh"
									 styleClass="btn btn-mini btn-info" style="margin-right: 12px;"
									 action="#{boardManaged.refresh}" update="dynamic_dashboard" />
				</div>

				<div style="float:left;">
					<p:commandButton id="addStory" icon="ui-icon-plusthick" value="สตอรี่"
									 styleClass="btn btn-mini btn-success"
									 onclick="window.location.href = '/bgile/fstory';" />
				</div>

				<div class="input-prepend" style="padding-left: 24px; float:left;">
					<span class="add-on"><i class="icon-search" ></i></span>
					<p:inputText id="filter" style="width: 480px;" ></p:inputText>
					<p:watermark for="filter" value="กรองสตอรี่" ></p:watermark>
				</div>
			</div>
		</ui:define>
        <ui:define name="content">
			<style type="text/css">
				.ui-panel {
					padding: 0.0em;
				}
				.ui-panel .ui-panel-content {
					padding-left: 4px;
					text-align: left;
				}
				.ui-panel .ui-panel-footer {
					padding: 0.2em 0.4em;
				}
				.ui-panel .ui-panel-titlebar {
					padding: 0.2em 0em 0.2em;
				}
				.ui-corner-all {
					-moz-border-radius: 0px;
					-webkit-border-radius: 0px;
					border-radius: 0px;
				}
				.ui-widget-header {
					text-align: left;
				}
				.ui-panel-title {
					padding-left: 4px;
				}
				.ui-panel, div.ui-state-hover {
					width :240px;
					margin-bottom: 10px;
				}
				.ui-dashboard-column {
					width :260px;
				}
				.ui-dashboard-header {
					width :260px;
				}
				pre {
					display: block;
					padding: 0px;
					margin: 0 0 0px;
					font-size: 11px;
					line-height: 24px;
					word-break: break-all;
					word-wrap: break-word;
					white-space: pre;
					white-space: pre-wrap;
					background-color: white;
					border: 0px solid #ccc;
					border: 0px solid rgba(0, 0, 0, 0.15);
					-webkit-border-radius: 0px;
					-moz-border-radius: 0px;
					border-radius: 0px;
				}
			</style>

			<p:growl id="growl" showDetail="true" />
			<p:messages id="messages" showDetail="true" />

			<div class="row-fluid" style="padding-top: 6px; padding-bottom: 6px">
				<h4 style="width: 260px; text-align: left; float: left;">วางแผน</h4>
				<h4 style="width: 260px; text-align: left; float: left;">กำลังทำ</h4>
				<h4 style="width: 260px; text-align: left; float: left;">กำลังทดสอบ</h4>
				<h4 style="width: 260px; text-align: left; float: left;">เสร็จ</h4>
			</div>

			<div class="row-fluid">
				<p:dashboard id="dynamic_dashboard" binding="#{boardManaged.dashboard}" >
					<p:ajax event="reorder" listener="#{boardManaged.handleReorder}" update="dynamic_dashboard growl" />
				</p:dashboard>
			</div>
        </ui:define>
    </ui:composition>
</html>
