<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui ="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <ui:composition template="/WEB-INF/template/base.xhtml" >
		<ui:define name="content">
			<h:form id="main">
				<!-- Page Title -->
				<div class="page-title">
					<div class="container">
						<div class="row">
							<div class="span12">
								<i class="icon-envelope-alt page-title-icon"></i>
								<h2>Contact Us /</h2>
								<p>Here is how you can contact us</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Contact Us -->
				<div class="contact-us container">
					<div class="row">
						<div class="contact-form span7">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <a href="">suscipit lobortis</a> nisl ut aliquip ex ea commodo consequat.</p>
							<label for="name" class="nameLabel">Name</label>
							<input id="name" type="text" name="name" placeholder="Enter your name..." />
							<label for="email" class="emailLabel">Email</label>
							<input id="email" type="text" name="email" placeholder="Enter your email..." />
							<label for="subject">Subject</label>
							<input id="subject" type="text" name="subject" placeholder="Your subject..." />
							<label for="message" class="messageLabel">Message</label>
							<textarea id="message" name="message" placeholder="Your message..."></textarea>
							<button type="submit">Send</button>
						</div>
						<div class="contact-address span5">
							<h4>We Are Here</h4>
							<div class="map"></div>
							<h4>Address</h4>
							<p>Via Principe Amedeo 9 <br /> 10100, Torino, TO, Italy</p>
							<p>Phone: 0039 333 12 68 347</p>
						</div>
					</div>
				</div>
			</h:form>
		</ui:define>
    </ui:composition>
</html>
