<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui ="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://java.sun.com/jsf/html">
    <ui:composition template="/WEB-INF/template/app.xhtml" >
		<ui:define name="menubar">
			<div class="control">
				<div style="float:left;">
					<p:commandButton id="back" icon="ui-icon ui-icon-plus" value="กระดาน"
									 styleClass="btn btn-mini btn-info"
									 onclick="window.location.href='/bgile/fboard';" />
				</div>
			</div>
		</ui:define>
        <ui:define name="content">
			<table class="table">
				<thead>
					<tr>
						<th style="width: 24px;"></th>
						<th>NO</th>
						<th>NAME</th>
						<th>Description</th>
						<th>Created</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ui:repeat var="b" value="#{dashboardManaged.boards}">
						<tr>
							<td></td>
							<td>#{b.id}</td>
							<td>#{b.boardname}</td>
							<td>#{b.description}</td>
							<td>#{b.created}</td>
							<td>
								<h:outputLink value="grant/#{b.id}"  style="padding-right: 24px;">
									<i class="icon-group" style="font-size: 2em;"></i></h:outputLink>

								<h:outputLink value="fboard/#{b.id}" style="padding-right: 24px;">
									<i class="icon-edit" style="font-size: 2em;"></i></h:outputLink>

								<h:outputLink value="board/#{b.id}"  >
									<i class="icon-list-alt" style="font-size: 2em;"></i></h:outputLink>

								<ui:remove>
									<p:commandButton id="grantAccount" style="margin-right: 12px;"
												 icon="ui-icon ui-icon-person"
												 styleClass="btn btn-mini btn-info"
												 onclick="window.location.href='/bgile/grant/#{b.id}';" />
									<p:commandButton id="editProjet" style="margin-right: 12px;"
													 icon="ui-icon ui-icon-disk"
													 styleClass="btn btn-mini btn-info"
													 onclick="window.location.href='/bgile/fboard/#{b.id}';" />
									<p:commandButton id="linkToBoard"
													 icon="ui-icon ui-icon-arrowthick-1-e"
													 styleClass="btn btn-mini btn-info"
													 onclick="window.location.href='/bgile/board/#{b.id}';" />
								</ui:remove>
							</td>
						</tr>
					</ui:repeat>
				</tbody>
			</table>
        </ui:define>
    </ui:composition>
</html>
