<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui ="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/WEB-INF/template/app.xhtml" >
		<ui:define name="menubar">
			<div class="control" style="padding-bottom: 24px; padding-left: 24px; float:left;">
				<p:commandButton id="back" icon="ui-icon ui-icon-arrowthick-1-w" value="BACK"
								 styleClass="btn btn-mini btn-info"
								 action="#{profileManaged.back}"/>
			</div>
		</ui:define>
        <ui:define name="content">
			<div class="container">
				<div style="width: 511px;">
					<div class="row">
						<h4>ข้อมูลส่วนตัว</h4>
					</div>
				</div>
			</div>
        </ui:define>
    </ui:composition>
</html>
