<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui ="http://java.sun.com/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/WEB-INF/template/base.xhtml" >
		<ui:define name="content">
			<p:messages id="msg" />
			<div class="container" style="padding-top: 48px; padding-bottom: 48px; height: 240px;">
				<div class="row" style="padding-bottom: 16px;">
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-user" ></i></span>
							<p:inputText id="username" value="#{signinManaged.username}" maxlength="64" />
							<p:watermark for="username" value="Email or Username" />
						</div>
					</div>
				</div>
				<div class="row" style="padding-bottom: 16px;">
					<div class="controls">
						<div class="input-prepend" >
							<span class="add-on"><i class="icon-stop"></i></span>
							<p:password id="password" value="#{signinManaged.password}" maxlength="64" />
							<p:watermark for="password" value="Password" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="controls">
						<p:commandButton id="signin" value="SIGNIN"
										 styleClass="btn btn-mini btn-success"
										 action="#{signinManaged.authen}" update="msg" />
					</div>
				</div>
			</div>
		</ui:define>
    </ui:composition>
</html>
